<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <div class="container mt-5">
        <table class="table">
    
            <thead>
                <tr>
                    <th class="table-success">fecha nacimiento</th>
                    <th class="table-success">integrante</th>
                    <th class="table-success">edad</th>
                   
                    
                </tr>
            </thead>
    
            <tbody>
                {% for fam in familia %}
                    <tr>
                    <td>{{fam.fecha_nac}}</td>
                    <td>{{fam.fam_list}}</td>
                    <td>{{fam.edad}}</td>
                    
                   
                    </tr>
                {% endfor %}
            </tbody>
    
    
        </table>
    </div>


</body>
</html>